@model string;
@{
    Layout = "_Layout";

}
<br />
<br />
<br />
<div class="conteudo titulo">
    <img src="~/logo2.png" width="100" />
    <h4>@Model</h4>
</div>

<div class="conteudo rodape etapa1">
    <p>Para voltar a tela inicial, <a href="javascript:(0)" ng-click="paginaAnterior()">clique aqui.</a></p>
</div>

