@{
    Layout = "_Layout";
}
<div class="conteudo titulo">
    <img src="~/logo2.png" width="100" />
    <h3>Votação Presidencial</h3>
</div>

<div class="conteudo legenda">
    <div class="numero pisca"></div>
    <div class="numero"></div>
</div>

<div class="conteudo rodape">
    <p>Clique nos números que representam o seu candidato</p>
    <p>Caso tenha certeza, clique em <font style="color: green;">CONFIRMA</font> para o próximo passo.</p>
</div>